[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosu = "*"
asyncpg = "*"
databases = {extras = ["asyncpg"], version = "*"}
"discord.py" = "*"
fastapi = {extras = ["all"], version = "*"}
fastapi-sessions = "*"
structlog = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
mypy = "*"
pre-commit = "*"
reorder-python-imports = "*"

[requires]
python_version = "3.11"
